/* Todas as demais mídias */

/* Typical device breakpoints 

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/

@media print { /* Impressão */
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecesário, na impressora não sai background */
    }

    main {
        border: 1px solid black;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.39);
        width: 90vw;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

    main::after {
        content:'Impressão pelo site www.Cursoemvideo.com';
        text-decoration: overline;
    }
}

@media screen  and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Computadores */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) { /* Grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}




